@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cal+Sans&family=Inter:opsz,wght@14..32,400;14..32,500;14..32,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

@media (max-width: 480px) {
  input, button {
    transform: scale(0.98);
  }
}